@helper InsertParagraphs(int count)
{
    for (var i = 0; i < count; i++)
    {
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum purus nec malesuada mattis. Fusce metus neque, scelerisque at mattis sed, suscipit non purus. Aenean aliquam consequat lectus, sit amet placerat arcu mollis viverra. Cras cursus dolor a arcu finibus, eget semper risus imperdiet. Praesent commodo commodo hendrerit. In at orci nisi. Sed tincidunt nulla odio, et lacinia urna vehicula ac. Aliquam ullamcorper lacus ut augue facilisis euismod eu quis lacus. Praesent tempor feugiat nulla, vitae dignissim neque fermentum vel. Vestibulum laoreet vel lectus non fermentum. Vivamus erat urna, interdum id ante id, dictum molestie nisl. Sed blandit id nibh eu eleifend. Ut imperdiet vestibulum turpis, et luctus felis gravida tempor.
        </p>
    }
}