@using Scroll.Playground.Models

@model  ControllerDemoCollection

@foreach (var section in Model.Demos)
{
    <h3>@(section.Title)</h3>
    <ul>
        @foreach (var demo in section.Demos)
        {
            <li>@Html.ActionLink(demo.Title, demo.ActionName, Model.ControllerName)</li>
        }
    </ul>
}
