@{
    ViewBag.Title = "Welcome | Scrolltopia";
}

<div class="container">
    <div class="well">
        <h1>Welcome to Scrolltopia</h1>
        <p class="lead">
            This page presents a showcase evaluating different scrolling frameworks.
            For the moment you have access to different samples using 
            @Html.ActionLink("iScroll", "Index", "Iscroll") and @Html.ActionLink("simplebar", "Index", "Simplebar").
        </p>
    </div>
</div>
