@{
    ViewBag.Title = "Custom styles | simplebar";
}
@section Theme {
    <link rel="stylesheet" href="~/styles/simplebar-theme.css"/>
}

<div class="container">
    <div class="row">
        <h1>Use own styles</h1>
        <p>
            The scrollbar in this sample uses a custemized css-file <code>simple-theme.css</code>.
            To mod
        </p>
    </div>
    <div class="row">

        <section class="sample">

            <div id="simplebar-container" class="simplebar height-of-450-pixels">
                <div class="add-space-to-scrollbar">
                    @LoremIpsum.InsertParagraphs(6)
                </div>
            </div>

        </section>

    </div>
</div>
@section Script
{
    <script>
        (function() {
            'use strict';

            $('#simplebar-container').simplebar({
                autoHide: false
            });
        })();
    </script>
}