@{
    ViewBag.Title = "Minimal Setup | simplebar";
}

<div class="container">
    <div class="row">
        <h1>Scrollbar</h1>
        <p>
            In this sample simplebar is configured to display the scrollbar all the time.
            Therefore simplebar has to be initialized via javascript:
            <code>$('#simplebar-container').simplebar({ ... })</code>
        </p>
    </div>
    <div class="row">

        <section class="sample">

            <div id="simplebar-container" class="simplebar height-of-450-pixels ">
                @LoremIpsum.InsertParagraphs(6)
            </div>

        </section>

    </div>
    <div class="row">
        <h2>Configuration</h2>
        <pre class="reset-styles">
            <code class="json">
{
    autoHide: false
}
            </code>
        </pre>
    </div>
</div>
@section Script
{
    <script>
        (function() {
            'use strict';

            $('#simplebar-container').simplebar({
                autoHide: false
            });
        })();
    </script>
}