@{
    ViewBag.Title = "Triggering controls | iScroll";
}


<div class="container">
    <div class="row">
        <h1>Triggering controls</h1>
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
            External library needed: <a href="https://github.com/flesler/jquery.scrollTo" target="_blank">jquery.scrollTo</a>
        </div>
        <div>
            To control simplebar to scrollt to a certain point we need to use
            <a href="https://github.com/flesler/jquery.scrollTo" target="_blank">jquery.scrollTo</a> (<a href="http://demos.flesler.com/jquery/scrollTo/">Demos</a>).
        </div>

        <hr>
    </div>

    <div class="row">

        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">

            <section class="sample">

                <div id="simplebar-container" class="simplebar height-of-450-pixels">
                    @LoremIpsum.InsertParagraphs(6)
                </div>

            </section>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="btn-group-vertical" role="group" aria-label="scroll-controls">
                <button id="btn-scroll-up" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
                <button id="btn-scroll-down" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Usage</h2>
        <pre class="reset-styles">
<code class="javascript">
{
    // Initialize simplebar
    var scrollingArea = $('#simplebar-container').simplebar({ autoHide: false });
    
    // Grap button that should control scrolling
    var up = $('#btn-scroll-up');
    
    up.on('click', function() {
                scrollingArea
                    // Get scroll container of simplebar
                    .simplebar('getScrollElement')
                    // Scroll 50px up based on current position, scrolling animation takes 200ms
                    .scrollTo('-=50', 200);
            });
}   
</code>
        </pre>
    </div>
</div>

@section Script
{
    <script type="text/javascript">
        (function() {
            'use strict';

            var scrollingArea = $('#simplebar-container').simplebar(
            { autoHide: false });

            var up = $('#btn-scroll-up');
            var down = $('#btn-scroll-down');

            up.on('click', function() {
                scrollingArea
                    .simplebar('getScrollElement')
                    .scrollTo('-=50', 200);
            });

            down.on('click', function() {
                scrollingArea
                    .simplebar('getScrollElement')
                    .scrollTo('+=50', 200);
            });
        }());
    </script>
}